.add {
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.add h1 {
  margin: 0;
  text-decoration: underline;
}

.add-form {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.form-maps-types {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-choices {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-choice {
  border: 2px black solid;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.form-chosen {
  background-color: rgb(235, 235, 235);
}

.add-form input[type="text"] {
  margin: 1rem 0;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  width: 50%;
}

.add-form input[type="submit"] {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  width: fit-content;
}