.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  height: var(--navbar-height);
  background-color: black;
  z-index: 1000000;
}

.navbar * {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
}

.navbar-link {
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-link:hover {
  transform: scale(120%);
}