.mirage {
  margin-top: calc(var(--navbar-height) - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  height: 55rem;
  width: 55rem;
}

.mirage img {
  width: 50rem;
  height: 50rem;
}